
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <title>LinkedApp Social Network</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
        <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
    </head>

    <body>
        <div class="col-md-4"  th:fragment="adverts_panel">
            <div class="panel panel-default adverts">
                            <div class="panel-heading">
                                <h3 class="panel-title">Adverts</h3>
                            </div>
                            <div class="panel-body">
                                <div class="group-item">
                                    <img src="img/advert.png" alt="">
                                    <h4><a href="#" class="">Sample Advert One</a></h4>
                                    <p>This is a paragraph of intro text, or whatever I want to call it.</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="group-item">
                                    <img src="img/advert.png" alt="">
                                    <h4><a href="#" class="">Sample Advert Two</a></h4>
                                    <p>This is a paragraph of intro text, or whatever I want to call it.</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="group-item">
                                    <img src="img/advert.png" alt="">
                                    <h4><a href="#" class="">Sample Advert Three</a></h4>
                                    <p>This is a paragraph of intro text, or whatever I want to call it.</p>
                                </div>
                                <div class="clearfix"></div>
                                <a href="#" class="btn btn-primary">View All Adverts</a>
                            </div>
                        </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>