<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <title>LinkedApp Social Network</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
    </head>
    <body>
        <header th:replace="layout/header :: header">
                header
        </header>
        <nav class="navbar navbar-default"  th:replace="layout/navigation::navigation">
            navigation
        </nav>
        <section layout:fragment="main_section">
            <div class="main_content">
                <h1>main content ...</h1>
            </div>
        </section>
        <footer th:replace="layout/footer::footer">
            footer
        </footer>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>