<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <title>LinkedApp Social Network</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
        <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
    </head>
    <body>
        <header  th:replace="layout/header :: header">
            header
        </header>
        <nav class="navbar navbar-default"  th:replace="layout/navigation_user::navigation_user">
            navigation
        </nav>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8"  layout:fragment="main_section">
                        <h1>main content ...</h1>
                    </div>
                    <div class="col-md-4" th:replace="layout/adverts_panel::adverts_panel">
                        <h1>adverts panel</h1>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <footer th:replace="layout/footer::footer">
            footer
        </footer>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>