<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>LinkedApp Social Network - Access Denied Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="../static/css/signup.css" th:href="@{/css/signup.css}"/>
</head>
<body>
<header  th:replace="layout/header :: header">
    header
</header>
<h2>Sorry, you do not have permission to view this page.</h2>

Click <a th:href="@{/}">here</a> to go back to the Homepage.
</body>
</html>