<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout_user}">
<head>
  <meta charset="utf-8">
  <title>LinkedApp Social Network</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
  <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
</head>

<body>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8" layout:fragment="main_section">
        <div class="profile">
          <h1 class="page-header">Adverts</h1>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Add New Advert</h3>
                </div>
                <div class="panel-body">
                  <form action="/pushAdvertise" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                      <input type="text" name="url" class="form-control" placeholder="Advertisers' website ..."></input>
                    </div>
                    <div>
                        <div class="btn-toolbar">
                            <input type="file" name="file"/>
                            </div>
                    </div>
                      <button type="submit" class="btn btn-default pull-right" th:text="#{adverts.admin.submit}"></button>
                  </form>
                </div>
              </div>
            </div>
          </div><br><br>
          <table class="table table-condensed">
            <thead>
            <tr>
              <th>Advert</th>
              <th>Advertiser's Website</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody th:each="advert: ${adverts}">
            <tr>
              <td><img th:src="${'/userimg/'+ advert.getAttachment()}" class="img-thumbnail-small" alt=""/></td>
              <td th:text="${advert.getUrl()}"></td>
              <td><button type="button" class="btn btn-warning">Edit</button></td>
              <td><button type="button" class="btn btn-danger">Danger</button></td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>