
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout_user}">
<head>
  <meta charset="utf-8">
  <title>LinkedApp Social Network</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
  <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
</head>

<body>

<section>
  <div class="container" layout:fragment="main_section">
    <div class="row">
      <div class="col-md-8">
        <div class="members">
          <h1 class="page-header">Followers</h1>
          <div class="row member-row">
            <div class="col-md-3">
              <img src="img/user.png" class="img-thumbnail" alt="">
              <div class="text-center">
                SomeUser01
              </div>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
            </div>
          </div>
          <div class="row member-row">
            <div class="col-md-3">
              <img src="img/user.png" class="img-thumbnail" alt="">
              <div class="text-center">
                SomeUser01
              </div>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
            </div>
          </div>
          <div class="row member-row">
            <div class="col-md-3">
              <img src="img/user.png" class="img-thumbnail" alt="">
              <div class="text-center">
                SomeUser02
              </div>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
            </div>
          </div>
          <div class="row member-row">
            <div class="col-md-3">
              <img src="img/user.png" class="img-thumbnail" alt="">
              <div class="text-center">
                SomeUser03
              </div>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>