
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <title th:text ="#{index.page.title}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="../static/css/signup.css" th:href="@{/css/signup.css}"/>
</head>

<body>
<nav class="navbar navbar-default" layout:fragment="navigation">
</nav>

<section layout:fragment="main_section">
    <div class="signup-form" th:align="center" >
        <form action="#" method="post" th:action="@{/signup}" th:object="${user}" th:method="post">
            <label style="color: red" th:text="${message}"></label>
            <h4 th:text ="#{index.signup.header}"></h4>
            <div class="form-group" >
                <span class="errorMessage" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                <input type="text" class="form-control" th:field="*{username}" th:placeholder= "#{index.signup.username}"/>
            </div>

            <div class="form-group">
                <span  class="errorMessage" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
                <input type="text" class="form-control" name="firstname"  th:field="*{firstname}" th:placeholder= "#{index.signup.firstname}" />
            </div>
            <div class="form-group">
                <span  class="errorMessage" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
                <input type="text" class="form-control" name="lastname"  th:field="*{lastname}" th:placeholder= "#{index.signup.lastname}" />
            </div>

            <div class="form-group">
                <span  class="errorMessage" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></span>
                <input type="Date" class="form-control" name="dob" th:field="*{dob}" th:placeholder= "#{index.signup.dob}" >
            </div>

            <div class="form-group">
                <span class="errorMessage" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                <input type="email" class="form-control" name="email" th:field="*{email}" th:placeholder= "#{index.signup.email}" >
            </div>
            <div class="form-group">
                <span class="errorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                <input type="password" class="form-control" name="password" th:field="*{password}" th:placeholder= "#{index.signup.password}" >
            </div>
            <div class="form-group">
                <span class="errorMessage" th:if="${#fields.hasErrors('confirm_password')}" th:errors="*{confirm_password}"></span>
                <input type="password" class="form-control" name="confirm_password" th:field="*{confirm_password}" th:placeholder= "#{index.signup.confirm-password}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block signup-btn" th:text="#{index.user.signup}"></button>
            </div>
<!--            <div class="or-seperator"><b>or</b></div>-->
            <hr>
            <p class="hint-text"th:text="#{index.signup.use-social-media}"></p>
            <div class="social-btn text-center">
                <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
            </div>

        </form>
    </div>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="../static/js/changeLang.js" th:src="@{/js/changeLang.js}"></script>
</body>
</html>