
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <title>LinkedApp Social Network</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="../static/css/signup.css" th:href="@{/css/signup.css}"/>
</head>

<body>
<nav class="navbar navbar-default" layout:fragment="navigation">
</nav>

<section layout:fragment="main_section">
    <div class="signup-form" >
        <form action="#" method="post" th:action="@{/signup}" th:object="${user}" th:method="post">
            <label style="color: red" th:text="${message}"></label>
            <h4>Create an Account</h4>
            <div class="form-group">
                <input type="text" class="form-control input-lg" name="username" th:field="*{username}" placeholder="username">
                <label class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control input-lg" name="firstname"  th:field="*{firstname}"placeholder="Firstname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" name="lastname"  th:field="*{lastname}" placeholder="Lastname" required="required">
            </div>

            <div class="form-group">
                <input type="Date" class="form-control input-lg" name="dob" th:field="*{dob}" placeholder="dob" required="required">
            </div>

            <div class="form-group">
                <input type="email" class="form-control input-lg" name="email" th:field="*{email}" placeholder="Email Address" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" name="password" th:field="*{password}" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" name="confirm_password" th:field="*{confirm_password}" placeholder="Confirm Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign Up</button>
            </div>
            <div class="or-seperator"><b>or</b></div>

            <p class="hint-text">Sign up with your social media account or email address</p>
            <div class="social-btn text-center">
                <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
            </div>



        </form>
        <div class="text-center">Already have an account? <a href="#">Login here</a></div>
    </div>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>