
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout_user}">
<head>
  <meta charset="utf-8">
  <title>LinkedApp Social Network</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" href="../static/css/heart.css" th:href="@{/css/heart.css}" type="text/css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="../static/js/dateFormat.js" th:src="@{/js/dateFormat.js}" type="text/javascript"></script>
  <script src="../static/js/uploadFile.js" th:src="@{/js/uploadFile.js}" type="text/javascript"></script>
  <script src="../static/js/getUserPost.js" th:src="@{/js/getUserPost.js}" type="text/javascript"></script>
  <script src="../static/js/getComment.js" th:src="@{/js/getComment.js}" type="text/javascript"></script>
  <script src="../static/js/heart.js" th:src="@{/js/heart.js}" type="text/javascript"></script>
</head>

<body>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8" layout:fragment="main_section">
        <div class="profile">
          <h1 class="page-header" th:text = "  ${user.firstname +' ' + user.lastname}"></h1>
          <div class="row">
            <div class="col-md-4">
              <img th:if="${profilepath != null}" th:src="${'/userimg/'+profilepath}" class="img-thumbnail" alt="">
              <img th:if="${profilepath == null}" th:src="@{/img/user.png}" class="img-thumbnail" alt="">
<!--              <form>-->
<!--                <button type="submit" class="btn btn-default">Upload</button>-->
<!--                <button type="button" class="btn btn-default">-->
<!--                  <i class="fa fa-file-image-o"></i>Profile picture</span>-->
<!--                  <input type="file" id="myfile" class="myfile" name="myfile" accept="image/*, image/heic, image/heif" display="inline" />-->
<!--                </button>-->
<!--              </form>-->
              <form method="POST" enctype="multipart/form-data" action="/user/updateProfile">
                <table>
                  <tr>
                    <td><input type="file" name="file" /></td><td><input type="submit" value="Update Profile" /></td>
                  </tr>
                </table>
              </form>
            </div>
            <div class="col-md-8">
              <ul>
                <li><strong>Name: </strong><span th:text = "  ${user.firstname +' ' + user.lastname}"></span></li> <br>
                <li><strong>Email: </strong><span th:text = "  ${user.email}"></span></li><br>
<!--                <li><strong>City:</strong><span th:text #{user.city}></span></li>-->
<!--                <li><strong>State:</strong><span th:text #{user.state}></span></li>-->
<!--                <li><strong>Gender:</strong><span th:text #{user.gender}></span></li>-->
                <li><strong>DOB: </strong><span th:text = "  ${user.dob}"></span></li>
              </ul>
            </div>
          </div><br><br>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Profile Wall</h3>
                </div>
                <div class="panel-body">
<!--                  <form id="uploadPost" name="uploadPost" method="POST" target="/user/submitPost" >-->
<!--                    <div class="form-group">-->
<!--                      <textarea id="postTextArea" class="form-control" placeholder="Write on the wall"></textarea>-->
<!--                    </div>-->
<!--                    <button id="postSubmit" type="button" class="btn btn-default">Submit</button>-->
<!--                    <div class="pull-right">-->
<!--                      <div class="btn-toolbar">-->
<!--                        <button type="button" class="btn btn-default">-->
<!--                          <i class="fa fa-file-image-o"></i>Image / <i class="fa fa-file-video-o"></i>Video</span>-->
<!--                          <input type="file" id="myfile" class="myfile" name="myfile" accept="video/*,  video/x-m4v, video/webm, video/x-ms-wmv, video/x-msvideo, video/3gpp, video/flv, video/x-flv, video/mp4, video/quicktime, video/mpeg, video/ogv, .ts, .mkv, image/*, image/heic, image/heif" display="inline" />-->
<!--                        </button>-->
<!--                        &lt;!&ndash;                                    <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i>Text</button>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    <button type="button" class="btn btn-default"> <i class="fa fa-file-image-o"></i>Image</button>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    <button type="button" class="btn btn-default"><i class="fa fa-file-video-o"></i>Video</button>&ndash;&gt;-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </form>-->
                </div>
              </div>
              <div id="postList" th:value="${user.id}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>